#about {
    /* height: 500px; */
    height: auto;
    width: 100%;
    display: block;
    margin-bottom: 50px;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    /*background-color: #D6EAF8;*/
}

div.title-about {
    /* margin-top: 25px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}

div.title-about > h1 {
    font-weight: bolder;
    font-size: 2rem;
    color: #FFFFF0;
}

div.title-about span {
    font-weight: 500;
}



div.profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

div.profile-pic{
    width: 250px;
}


div.profile-pic > img {
    box-shadow: 0 0 10px 2px;
    border-radius: 50%;
}

div.info {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 400px;
    width: 100%;
}
div.greetings {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;

}
div.greetings > h1 {
    font-size: 1.5rem;
    color: #fffdf9;
    text-align: center;
}


div.greetings:nth-child(1) {
    font-weight: 400;
    margin-top: 10px;
    font-size: 2rem;
}

div.info > p {
    text-align: justify;
    font-weight: 600;
    color: #F5F5DC;
    padding-bottom: 10px;
}

@media (min-width: 768px){
    div.profile {
        flex-direction: row;
    }
    div.profile-pic > img {
        border-radius: 50%;
        box-shadow: 15px 15px 10px 0;
    }
    div.info {
        width: 60%;
        margin-right: 0;
        margin-left:35px;

    }
    div.greetings {
        flex-direction: column;
        justify-content: initial;
        align-items: flex-start;
        margin-top: 20px;
    }

    div.subsection > ul {
        column-count: 2;
    }
    div.domain {
        display: inline-block;
    }
    div.domain span {
        left: 89%;
    }

}
    
@media (min-width: 850px) {
    div.info > p {
        font-size: 1rem;
        
    }
    div.info {
        width: 40%;
    }
}


