#about {
    /* height: 500px; */
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #5D6A75; */
    /* filter: brightness(0.8); */
    background: linear-gradient(180deg, #040506 15%, #b9a885);
}


div.title-about {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

div.title-about > h1 {
    font-weight: bolder;
    font-size: 2rem;
    color: silver;
}

div.title-about span {
    font-weight: 500;
}

div.logo {
    width: 50px;
    height: 50px;
}
div#about-logo {
    display: flex;
    justify-content: center;
}

div.profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

div.profile-pic{
    width: 250px;
    height: 250px
}

div.profile-pic > img {
    border-radius: 150px;
    box-shadow: 0px 0px 10px 2px;
}

div.info {
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}
div.greetings {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: silver;

}

div.greetings > h1 {
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 2rem;
}

div.greetings span {
    font-weight: bold;
}
div.info > p {
    text-align: justify;
    font-weight: 600;
    color: #fff;
}

section.skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
section.skills > h1 {
    font-size: 2rem;
    font-family: cursive;
}

div.subsection {
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}
div.subsection > ul {
    width: 80%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}


div.domain {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}

div.domain > h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}
div.domain span {
    position: absolute;
    left: 90%;
    /* position: relative; */
    color:white;
}

div.scale{
    width: 100%;
    height: 4px;
    background-color: white;
}
div.scale-bar{
    height: 4px;
    background-color: black;
}

div#eighty {width: 80%;}
div#fifty-five {width: 55%;}
div#sixty-three {width: 63%;}
div#seventy-five {width: 75%;}
div#sixty {width: 60%;}
div#seventy {width: 70%;}


@media (min-width: 768px){
    div.profile {
        flex-direction: row;
    }
    div.profile-pic > img {
        border-radius: 0;
        box-shadow: 15px 15px 10px 0px;
    }
    div.info {
        width: 60%;
        margin-right: 0;
        margin-left:35px;

    }
    div.profile-pic {
        width: 450px;
        height: auto;
    }
    div.greetings {
        flex-direction: column;
        justify-content: initial;
        align-items: flex-start;
    margin-top: 20px;
    }
    div.greetings > h1 {
        font-size: 1.5rem;
    }
    div.subsection > ul {
        column-count: 2;
    }
    div.domain {
        display: inline-block;
    }
    div.domain span {
        left: 89%;
    }

}



@media (max-width: 425px){
    div.domain span {
        left: 89%;
    }
}
    
@media (min-width: 850px) {
    div.greetings > h1 {
        font-size: 2rem;
    }
    div.info > p {
        font-size: 1rem;
        
    }
    div.info {
        width: 40%;
    }

}

@media (min-width: 1000px) {
    div.domain span {
        left: 92%
    }
}
@media (min-width: 1300px){
    div.domain span {
        left: 93%;
    }
}

