@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

* {
    font-family: 'Cabin', sans-serif, serif;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


.App > section {
    position: relative;
}

#about::before,#education::before, #project::before, #contact::before {
    content: '';
    display: block;
    height:80px;
    visibility: hidden;
    background-color: black;
    background: black;
}

* {
    margin: 0;
    padding: 0;
}

div.divider {
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.divider > span {
    font-size: 3rem;
    font-weight: bold;
}

div.divider .hr-divider {
    width: 30px;
    height: 1px;
    background-color: #000;
    margin-bottom: 20px;
}