@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Nothing+You+Could+Do&display=swap');
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#about::before,#education::before, #project::before, #contact::before {
    content: '';
    display: block;
    height:50px;
    visibility: hidden;
    background-color: black;
    background: black;
}